.faq-component-container {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;

  max-height: 1200px;

  padding: 70px 45px;
}

.faq-component-container > h1 {
  font-size: 3rem;
  color: white;
}

.faq-component-questions {
  max-width: 815px;
}