.container {
  display: flex;
  justify-content: center;

  flex-direction: row;

  
  height: 733px;
  background-image: url("../../assets/netfliximage.jpg");
  
  
}

.wrapper {
  width: 100%;
  background: rgba(0,0,0,.4);
  background-image: linear-gradient(to top,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 60%,rgba(0,0,0,.8) 100%);

  padding: 2rem 5rem;
}

.header {
  display: flex;
  justify-content: space-between;

  width: 100%;
}


.logo {
  fill: var(--red);

  width: 12rem;


}

.select-signin-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.select-signin-container > select {
  background-color: black;
  color: white;
  padding: 0.6rem 0rem;

  border: 1px white solid;
}

.footer-header > select > option::before {
  content: "aaa";
  white-space: pre;
}

.sign-in-button {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.6rem 1.2rem;

  border-radius: 0.2rem;

  font-size: 1rem;

  border: none;
  color: #ffffff;

  background-color: var(--red);

  margin-left: 2rem;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;

  margin-top: 2rem;
}

.top-content {
  color: #ffffff;

  font-size: 3rem;

  margin-top: 6rem;

  width: 600px;
  overflow-wrap: break-word;  
  word-wrap: break-word; 
  word-break: break-word;
}

.content-title {
  font-size: 3.5rem;
  font-weight: bold;
}

.mid-content {
  color: #ffffff;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
}

.mid-content > span {
  font-size: 1.4rem;

  line-height: 4rem;
}


.get-started-button > span {
  margin-right: 0.6rem;
}

@media (max-width: 1450px) {
  .container {
    height: 690px;
  }

  .logo {
    width: 10rem;
  }

  .content-title {
    font-size: 2rem;
  }
  .mid-content > span {
    font-size: 1.2rem;

  }
}

@media (max-width: 950px) {
  .send-email {
    flex-direction: column;
  }

  .mid-content > span {
    line-height: 2rem;
  }
}