
.right-content-tv-animation {
  position: relative;
  overflow: hidden;
}

.right-content-tv-image {
  position: relative;
  z-index: 2;

  max-width: 100%;
  height: auto;
  border: 0;
}

.right-content-video-animation {
  width: 100%;
  height: 100%;
  max-width: 73%;
  max-height: 54%;
  position: absolute;
  top: 20%;
  left: 13%;
}

.right-content-video {
  width: 100%;
  height: 100%;
}

.right-content-video-animation.smaller {
  width: 100%;
  height: 100%;
  max-width: 73%;
  max-height: 48%;
  top: 12%;
  position: absolute;
  left: 13%;
}