.image-animation-container {
  margin: -8% 0 -4% -15%;
  min-height: 100px;
  width: 100%;


}

.image-content-animation {
  position: relative;
  overflow: hidden;
}

.image-content-animation > img{
  max-width: 100%;
  height: auto;
  border: 0;
}

.image-download-container {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0.8rem;

  width: 60%;

  left: 50%;
  bottom: 8%;
  transform: translateX(-50%);
  background: #000;

  flex-direction: row;

  border: 2px solid rgba(255,255,255,.25);

  border-radius: 0.75rem;
}

.image-download-container > img {
  height: 5.5rem;
}

.image-download-text {
  display: flex;
  
  flex-direction: column;
}

.image-download-text > span {
  font-size: 1rem;
  color: var(--blue);
}

.image-download-icon {
  background: url("../../assets/download-icon.gif");
  width: 3em;
  outline: 2px solid #000;
  outline-offset: -2px;
  display: block;
  background-size: 100%;

  flex-shrink: 0;
  flex-grow: 0;
  height: 3.75em;
}